html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body {
  background-color: #EEEEEE;
  font-family: "'Microsoft YaHei', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', simhei;";
  width: 100%;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  max-width: 680px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
  touch-action: none;
}
.backgroundImg{
	position: absolute;
	width: 100%;
	max-width: 680px;
	height: 120px;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	background-position: center;
}
.colorBackground{
  position: absolute;
  width: 100%;
  height: 120px;
  z-index: 100;
  background-color: #000000;
  filter:alpha(opacity=20);
  -webkit-opacity:0.2;
  -moz-opacity:0.2;
  opacity:0.2;
}
.head{
	position: absolute;
	width: 100%;
	height: 120px;
	max-width: 680px;
}
.head .container{
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
}
.info-block{
	width:100%;
	padding-top: 10px;
}
.infoA{
	display: inline-block;
	vertical-align: top;
	float: left;
}
.team img{
	width: 70px;
	height: 70px;
	border: 1px solid #D8D8D8;
	border-radius: 50%;
}
.team p{
	display: block;
	margin-top: 8px;
}
.infoB{
	display: inline-block;
	vertical-align: top;
	float:right;
}
.competition-info{
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
.score{
	font-family: Avenir-Light;
	color: #FFFFFF;
	width: 95px;
	height: 41px;
	font-size: 30px;
	line-height: 41px;
}
.scoreA{
	float:left;
	display: inline-block;
	vertical-align: top;
}
.character{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	vertical-align: top;
}
.scoreB{
	float: right;
	display: inline-block;
	vertical-align: top;
}
.type{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D8D8D8;
	border-radius: 25px;
	background-color: #EEEEEE;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	width: 80px;
	height: 25px;
}
.navbar{
	position: absolute;
	top: 120px;
	width: 100%;
	height: 40px;
	color: #333333;
	text-align: center;
	background-color: #FFFFFF;
	max-width: 680px;
	border-bottom: 1px solid #d8d8d8;
	z-index: 999;
}
.button-block{
	width: 33%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background-color: #FFFFFF;
	outline: none;
}
.button-block div{
	width: 80%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10%;
	margin-right: 10%;
	background-size: contain;
	-webkit-background-size:contain;
	-mos-background-size:contain;
	-ms-background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
}

.left{
	float: left;
	margin-left: 12.5px;
}
.active{
	border: 0.1px solid #D8D8D8;
	background-color: #FFDA44;
	border-radius: 30px;
}
.middle{
	margin-left: auto;
	margin-right: auto;
}
.right{
	float: right;
	margin-right: 12.5px;
}
.empty-block{
	width: 100%;
	height: 10px;
	border-top: solid 1px #d8d8d8;
	border-bottom: solid 1px #d8d8d8;
	background-color: #EEEEEE;
	
}
.content{
	width: 100%;
	max-width: 680px;
	position: absolute;
	top: 160px;
	bottom: 45px;
	overflow-y: scroll;
	background-color: #EEEEEE;
	overflow-x: hidden; 
}
.hide{
	position: absolute;
	left: -1000000px;
}